
<div class="be-login-form__mask be-login-form__overlay">
  <div class="be-login-form__wrapper">
    <div class="be-login-form__content p-grid ui-fluid">
      <ng-container *ngIf="isLoginForm">
        <div class="p-col-12">
          <div class="ui-inputgroup"><span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" pInputText [(ngModel)]="user.username" name="username" placeholder="{{'USERNAME' | translate}}">
          </div>
          <div class="ui-inputgroup"><span class="ui-inputgroup-addon"><i class="pi pi-key"></i></span>
            <input type="password" pInputText [(ngModel)]="user.password" name="password" autocomplete="off" placeholder="{{'PASSWORD.PASSWORD'|translate}}">
          </div>
        </div>
        <div class="p-col-12 be-pad-b-0">
          <p-button class="be-button_100p" [disabled]="!(user.password &amp;&amp; user.username)" styleClass="be-button_submit" label="{{'LOGIN'|translate}}" (onClick)="loginButtonHandler()"></p-button>
        </div>
        <div class="p-col-12">
          <p-button class="be-button_100p" [disabled]="!(user.username)" styleClass="be-button_change-password" label="{{'PASSWORD.CHANGE' | translate}}" (onClick)="changePasswordButtonHandler()"></p-button>
        </div>
      </ng-container>
      <ng-container *ngIf="!isLoginForm">
        <div class="p-col-12"><span class="login-change-password-form__username">{{"USER:" | translate}} {{this.user.username}}</span>
          <div class="ui-inputgroup"><span class="ui-inputgroup-addon"><i class="pi pi-key" style="line-height: 1.25;"></i></span>
            <input [type]="passwordDisplayType()" pInputText [(ngModel)]="newPass.oldPassword" placeholder="{{'PASSWORD.OLD' | translate}}">
          </div>
          <div class="ui-inputgroup"><span class="ui-inputgroup-addon"><i class="pi pi-key" style="line-height: 1.25;"></i></span>
            <input [type]="passwordDisplayType()" pInputText [(ngModel)]="newPass.newPassword" placeholder="{{'PASSWORD.NEW' | translate}}">
          </div>
          <div class="ui-inputgroup"><span class="ui-inputgroup-addon"><i class="pi pi-key" style="line-height: 1.25;"></i></span>
            <input [type]="passwordDisplayType()" pInputText [(ngModel)]="newPass.newPasswordConfirm" placeholder="{{'PASSWORD.CONFIRM_NEW' | translate}}">
          </div>
          <p-checkbox [(ngModel)]="showPassword" binary="true" label="{{'PASSWORD.SHOW' | translate}}"></p-checkbox>
        </div>
        <div class="p-col-12 be-pad-b-0">
          <p-button class="be-button_100p" [disabled]="newPassFormNotFilled()" styleClass="be-button_submit" label="{{ 'BTN_CHANGE' | translate }}" (onClick)="confirmPasswordChangeButtonHandler()"></p-button>
        </div>
        <div class="p-col-12">
          <p-button class="be-button_100p" styleClass="be-button_cancel" label="{{ 'BTN_CANCEL' | translate }}" (onClick)="cancelPasswordChangeButtonHandler()"></p-button>
        </div>
      </ng-container>
    </div>
  </div>
</div>