.be-login-form__mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  // background-color: #fff;
  background-image: url(../../../assets/images/ligin_page_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  .be-login-form__wrapper {
    padding: 0.5rem;
    box-shadow: 0 0 20px 0 #00000033, 0 5px 5px 0 #0000003d;
    background-color: #fff;
    .be-login-form__content {
      width: 500px;
      .ui-inputgroup:not(:last-child) {
        margin-bottom:0.5rem
      }
    }
  }
  .be-change-password-form__wrapper {
    .be-login-form__content {
      width: 500px;
    }
  }
}


