//- include ../../Common/mixins/_mixins.pug

div(class="be-login-form__mask be-login-form__overlay")
  div(class="be-login-form__wrapper")
    div(class="be-login-form__content p-grid ui-fluid")
      ng-container(*ngIf="isLoginForm")
        div(class="p-col-12")
          div(class="ui-inputgroup")
            span(class="ui-inputgroup-addon")
              i(class="pi pi-user")
            input(
              type="text",
              pInputText,
              [(ngModel)]="user.username",
              name="username",
              placeholder="{{'USERNAME' | translate}}"
              )
          div(class="ui-inputgroup")
            span(class="ui-inputgroup-addon")
              i(class="pi pi-key")
            input(
              type="password",
              pInputText,
              [(ngModel)]="user.password",
              name="password",
              autocomplete="off",
              placeholder="{{'PASSWORD.PASSWORD'|translate}}"
              )
        div(class="p-col-12 be-pad-b-0")
          p-button(
            class="be-button_100p",
            [disabled]="!(user.password && user.username)",
            styleClass="be-button_submit",
            label="{{'LOGIN'|translate}}",
            (onClick)="loginButtonHandler()"
            )
        div(class="p-col-12")
          p-button(
            class="be-button_100p",
            [disabled]="!(user.username)",
            styleClass="be-button_change-password",
            label="{{'PASSWORD.CHANGE' | translate}}",
            (onClick)="changePasswordButtonHandler()"
            )
      ng-container(*ngIf="!isLoginForm")
        div(class="p-col-12")
          span(class="login-change-password-form__username") {{"USER:" | translate}} {{this.user.username}}
          div(class="ui-inputgroup")
            span(class="ui-inputgroup-addon")
              i(
                class="pi pi-key",
                style="line-height: 1.25;"
                )
            input(
              [type]="passwordDisplayType()",
              pInputText,
              [(ngModel)]="newPass.oldPassword",
              placeholder="{{'PASSWORD.OLD' | translate}}"
              )
          div(class="ui-inputgroup")
            span(class="ui-inputgroup-addon")
              i(
                class="pi pi-key",
                style="line-height: 1.25;"
                )
            input(
              [type]="passwordDisplayType()",
              pInputText,
              [(ngModel)]="newPass.newPassword",
              placeholder="{{'PASSWORD.NEW' | translate}}"
              )
          div(class="ui-inputgroup")
            span(class="ui-inputgroup-addon")
              i(
                class="pi pi-key",
                style="line-height: 1.25;"
                )
            input(
              [type]="passwordDisplayType()",
              pInputText,
              [(ngModel)]="newPass.newPasswordConfirm",
              placeholder="{{'PASSWORD.CONFIRM_NEW' | translate}}"
              )
          p-checkbox([(ngModel)]="showPassword" binary="true" label="{{'PASSWORD.SHOW' | translate}}")
        div(class="p-col-12 be-pad-b-0")
          p-button(
            class="be-button_100p",
            [disabled]="newPassFormNotFilled()",
            styleClass="be-button_submit",
            label="{{ 'BTN_CHANGE' | translate }}",
            (onClick)="confirmPasswordChangeButtonHandler()"
            )
        div(class="p-col-12")
          p-button(
            class="be-button_100p",
            styleClass="be-button_cancel",
            label="{{ 'BTN_CANCEL' | translate }}",
            (onClick)="cancelPasswordChangeButtonHandler()"
            )
