$min-width-content: 1024px;
$max-width-content: 1200px;
$button-width: 2.357em;
$button-fat-width: $button-width * 2;
$padding-from-button: 2.7em;
$radius3: 3px;
$main-bg-color: #f3f3f3;
$main-bg-transparent-color: #f3f3f39d;

$color-m1: #048348;
$color-m1-hover: #026537;
$color-m2: #f37320;
$color-m2-hover: #e26310;
$color-m3: #ffffff;
$color-m4: #c8c8c8;
$color-m5: #333333;
$color-m6: #7b95ad;
$color-m7: #0000004d;

$color-blue: #007ad9;
$color-lightBlue: #5b89ad;

@import "../theme";
