//- div(class="be-global-container")
//-   div(class="be-header-container")
//-     app-top-menu
//-   div(class="be-content__container")
//-     div(class="be-content__left-sidebar")
//-       app-processes-menu
//-     div(class="be-content__content")
//-       router-outlet

mixin vertical-nav-menu(menu="items")
  clr-vertical-nav([clrVerticalNavCollapsible]="true")
    ng-container(*ngFor=`let item of ${menu}`)
      ng-container(*ngIf="item.children && item.children.length > 0")
        clr-vertical-nav-group(routerLinkActive="active")
          clr-icon(clrVerticalNavIcon, shape="tree-view")
          span {{item.name}}
          clr-vertical-nav-group-children
            ng-container(*ngFor="let child of item.children")
              ng-container(*ngIf="child.visible")
                a(clrVerticalNavLink, routerLink="{{child.link}}", routerLinkActive="active")
                  span {{child.name|translate}}
      ng-container(*ngIf="!item.children || item.children.length === 0")
        ng-container(*ngIf="item.visible")
          a(clrVerticalNavLink, routerLink="{{item.link}}", routerLinkActive="active")
            clr-icon(clrVerticalNavIcon, shape="bookmark")
            span {{item.name|translate}}


div(class="main-container")
  app-top-menu
  div(class="content-container")
    +vertical-nav-menu("items")
    div(class="content-area" style="padding: 6px;")
      router-outlet

