
<div class="main-container">
  <app-top-menu></app-top-menu>
  <div class="content-container">
    <clr-vertical-nav [clrVerticalNavCollapsible]="true">
      <ng-container *ngFor="let item of items">
        <ng-container *ngIf="item.children &amp;&amp; item.children.length &gt; 0">
          <clr-vertical-nav-group routerLinkActive="active">
            <clr-icon clrVerticalNavIcon shape="tree-view"></clr-icon><span>{{item.name}}</span>
            <clr-vertical-nav-group-children>
              <ng-container *ngFor="let child of item.children">
                <ng-container *ngIf="child.visible"><a clrVerticalNavLink routerLink="{{child.link}}" routerLinkActive="active"><span>{{child.name|translate}}</span></a></ng-container>
              </ng-container>
            </clr-vertical-nav-group-children>
          </clr-vertical-nav-group>
        </ng-container>
        <ng-container *ngIf="!item.children || item.children.length === 0">
          <ng-container *ngIf="item.visible"><a clrVerticalNavLink routerLink="{{item.link}}" routerLinkActive="active">
              <clr-icon clrVerticalNavIcon shape="bookmark"></clr-icon><span>{{item.name|translate}}</span></a></ng-container>
        </ng-container>
      </ng-container>
    </clr-vertical-nav>
    <div class="content-area" style="padding: 6px;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>