// /* You can add global styles to this file, and also import other style files */

$box-shadow-default: 0 12px 28px 0 #00000033, 0 2px 4px 0 #0000001a, inset 0 0 0 1px #ffffff80;

// Контейнер для Лого + Название
.be-branding {
  align-items: center;
}

// Отображение логотипа
// .be-logo-icon {
//   background-image: url(../../images/logo.png);
// }

@mixin reset($min-width-content) {
  margin: 0;
  padding: 0;
  font-size: 14px;
  min-width: $min-width-content;
  min-height: 100%;
  position: relative;
  line-height: normal;
}

@mixin bg($bg1, $bg2) {
  background: $bg1;
  background: linear-gradient(to left, $bg1, $bg2);
  font-family: "Roboto", sans-serif;
}

@mixin button($bgColor) {
  outline: 0;
  background: $bgColor;
  width: 100%;
  border: 0;
  padding: 10px;
  color: #ffffff;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  &:enabled:hover {
    background: lighten($bgColor, 5%);
  }
  &:enabled:active {
    background-color: lighten($bgColor, 5%);
    color: #ffffff;
    border-color: lighten($bgColor, 5%);
  }
  &:enabled:focus {
    box-shadow: 0 0 0 0.2em lighten($bgColor, 5%);
  }
  &.ui-state-disabled {
    cursor: not-allowed !important;
  }
  &.ui-button-text-only .ui-button-text {
    padding: 0;
  }
}

// отображать троеточие в поле когда текст выходит за пределы
@mixin ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin fat-button() {
  width: $button-fat-width;
  margin-left: 0.5em;
}

@mixin calendar() {
  width: 100%;
  .be-calendar {
    width: calc(100% - #{$button-width});
  }
  .ui-calendar-button {
    position: absolute;
    right: 0;
    top: 0;
  }
}

/*
start
Сбрасываем стиди primeng
*/

body .ui-button {
  background-color: $color-m2;
  border: 1px solid $color-m2
}

body .be-info-button-container {
  height: inherit !important;
}

body .be-version-info-button {
  position: relative;
  // height: 2.5rem;
  // line-height: 2.5rem;
  height: inherit;
  height: inherit;
  width: 1.25rem !important;
  min-width: 1.25rem !important;
  max-width: 1.25rem !important;
  background-color: #00000000 !important;
  border: none !important;
  color: #fafafa;
  opacity: .65;
  padding: 0;
  margin: 0;
}

body .be-version-info-button:hover {
  color: #ffffff;
  opacity: 1;
}

body .be-version-info-button:focus,
body .be-version-info-button:active {
  outline: 0 !important;
  box-shadow: none !important;
}

body .be-version-info-button > i {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  height: .916667rem;
  width: .916667rem;
  font-size: 0.916667rem;
  margin-left: -0.4583335rem;
  left: 50%;
}

body .ui-state-disabled, body .ui-widget:disabled {
  opacity: 0.7;
  filter: alpha(opacity=70);
}

body .ui-button:enabled:hover {
  background-color: $color-m2-hover;
  border: 1px solid $color-m2-hover;
}

body .ui-accordion .ui-accordion-header a {
  background-color: $color-m4;
  border: 1px solid $color-m4;
  color: $color-m5;
}
body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
  background-color: $color-m1;
  border: 1px solid $color-m1;
  color: $color-m3
}

body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active:hover a,
body .ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover a {
  background-color: $color-m1-hover;
  border: 1px solid $color-m1-hover;
  color: $color-m3;
  text-decoration: none;
}

body .ui-togglebutton,
body .ui-togglebutton .ui-button-icon-left,
body .ui-accordion .ui-accordion-header a .ui-accordion-toggle-icon,
body .ui-togglebutton:not(.ui-state-disabled):not(.ui-state-active):hover .ui-button-icon-left,
body .ui-togglebutton:not(.ui-state-disabled):not(.ui-state-active).ui-state-focus .ui-button-icon-left,
body .ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover a .ui-accordion-toggle-icon {
  color: $color-m3;
}

body .ui-table .ui-table-thead > tr > th {
  background-color: $color-m1;
  color: $color-m3;
}

body .ui-table .ui-sortable-column:not(.ui-state-highlight):hover {
  background-color: $color-m1-hover;
  color: $color-m3;
}

body .ui-table .ui-sortable-column .ui-sortable-column-icon,
body .ui-table .ui-sortable-column:not(.ui-state-highlight):hover .ui-sortable-column-icon {
  color: $color-m3;
}

body .ui-table .ui-table-tbody > tr:nth-child(even).ui-state-highlight,
body .ui-table .ui-table-tbody > tr.ui-state-highlight {
  background-color: $color-m6;
}

body .ui-togglebutton.ui-state-active:hover,
body .ui-fileupload-choose:not(.ui-state-disabled):hover,
body .ui-togglebutton:not(.ui-state-disabled):not(.ui-state-active):hover {
  background-color: $color-m2-hover;
  border: 1px solid $color-m2-hover;
  color: $color-m3;
}

body .ui-togglebutton.ui-state-active,
body .ui-togglebutton.ui-state-active.ui-state-focus,
body .ui-togglebutton:not(.ui-state-disabled):not(.ui-state-active).ui-state-focus {
  background-color: $color-m2;
  border: 1px solid $color-m2;
  color: $color-m3;
}

/*
end
Сбрасываем стиди primeng
*/

/*
  start
  исправляем выделение при фокусе на елементе
*/

:focus,
button:focus {
  outline: #8dcdff auto 1px;
}

/*
  end
  исправляем выделение при фокусе на елементе
*/

body {
  @include reset($min-width-content);
  .be-table.ui-table {
    .ui-table-thead {
      & > tr {
        & > th {
          white-space: nowrap;
          @include ellipsis();
        }
      }
    }
    .ui-table-tbody {
      & > tr {
        & > td {
          white-space: nowrap;
          @include ellipsis();
        }
      }
    }
  }
}

div[class^="ui-g"] {
  height: 100%;
}

.ui-table-scrollable {
  display: flex;
  flex-direction: column;
}

.ui-table-scrollable-wrapper {
  flex: 1 1 0;
}

.ui-table-scrollable-view {
  height: 100%;
  // display: flex;
  flex-direction: column;
}

.ui-table-scrollable-body {
  flex: 1 1 0;
}

.ui-table {
  .ui-paginator-bottom {
    border-top: 1px solid #c8c8c8;
  }
}

#main-content-wrapper {
  min-width: $min-width-content;
}

// .login-wrapper {
//   height: 100vh;
//   padding-top: 10em;
//   @include bg(#5276b8, #4042a7);
// }

// .login-form {
//   width: 360px;
//   height: 240px;
//   margin: 0 auto;
//   padding: 45px;
//   box-shadow: 0 0 20px 0 #00000033, 0 5px 5px 0 #0000003d;
//   background-color: #ffffff;
//   .buttons-container {
//     padding-top: 1em;
//     .login-button {
//       &__submit.ui-button {
//         @include button(#4caf50);
//       }
//       &__change-password.ui-button {
//         margin-top: 0.5em;
//         @include button(#848484);
//       }
//     }
//   }
// }

// .login-change-password-form {
//   width: 360px;
//   height: 330px;
//   margin: 0 auto;
//   padding: 45px;
//   box-shadow: 0 0 20px 0 #00000033, 0 5px 5px 0 #0000003d;
//   background-color: #ffffff;
//   &__username {
//     display: table;
//     margin: auto;
//     font-size: 1.2em;
//   }
//   .buttons-container {
//     .login-button {
//       &__change-confirm {
//         @include button(#848484);
//       }
//       &__change-cancel {
//         margin-top: 0.5em;
//         @include button(#c37b7b);
//       }
//     }
//   }
// }

.ui-widget:disabled {
  cursor: not-allowed;
}

.sidenav-menu {
  display: flex;
}

.main-content {
  display: flex;
}

.be-left-sidebar-menu {
  width: 15%;
  &.ui-menu {
    border: none;
  }
}

.be-left-sidebar-submenu {
  margin-top: 100px;
  width: 15%;
  &.ui-menu {
    border: none;
  }
}

.be-left-sidebar-panel {
  &.ui-sidebar {
    box-shadow: 0px 10px 15px 5px #00000059;
    padding: 0;
    z-index: 10;
  }
}

.be-top-menu {
  &.ui-menubar {
    text-align: center;
  }
}

.be-align-rigth {
  text-align: right !important;
}

.be-collapse-button {
  min-width: 180px;
}

.be-input-text {
  width: 100%;
  box-sizing: border-box;
  padding: 0.429em;
  padding-left: 0.5em;
  font-size: 14px;
  transition: border-color 0.2s;
  border: 1px solid #a6a6a6;
  border-radius: $radius3;
  flex: 1 1 auto;
  font-weight: 400;
  @include ellipsis();
}

.be-text-area {
  resize: none;
  width:100%;
  height: 100%;
}

// компонент календать
.be-calendar-wrapper {
  @include calendar();
}

// компонент календаря с дополнительной кнопкой
.be-calendar-wrapper-v2 {
  .be-calendar-wrapper {
    @include calendar();
    width: calc(100% - 0.5em - #{$button-fat-width});
  }
}

.be-button-default {
  width: 100px;
  padding: 0;
}

.be-label-wrapper {
  position: relative;
  .be-label {
    padding-top: 0.5em;
    display: block;
    @include ellipsis();
  }
  .be-mandatory {
    position: absolute;
    top: 10px;
    right: -10px;
    color: #ff1f1f;
  }
}

.be-label-bold {
  background-color: $color-m1-hover;
  font-weight: 700;
  color: #ffffff;
  border: 0.1em solid;
}

// широкая кнопка
.ui-button.ui-button-icon-only.be-button-fat {
  @include fat-button();
}

.be-p-grid {
  margin: 0;
  padding: 0;
}

// компонент поле ввода с прикрепленной кнопкой
.be-input-button-wrapper {
  position: relative;
  .be-input-field {
    width: calc(100% - #{$button-width});
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    @include ellipsis();
  }
  .be-input-button {
    position: absolute;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    right: 0;
    top: 0;
    width: $button-width;
  }
}

// компонент поле ввода с отдельной кнопкой
.be-input-button-wrapper-v2 {
  .be-input-field {
    width: calc(100% - 0.5em - #{$button-fat-width});
  }
  .ui-button-icon-only.be-input-button.fat-button {
    @include fat-button();
  }
}

// компонент searchpicker вариант 1
// .be-searchpicker-wrapper {
//   position: relative;
//   .be-first {
//     padding-right: 0.5em;
//     border-right: 1px solid #a6a6a6;
//     border-top-right-radius: 0;
//     border-bottom-right-radius: 0;
//     @include ellipsis();
//   }
//   .be-second {
//     padding-right: $padding-from-button;
//     border-top-left-radius: 0;
//     border-bottom-left-radius: 0;
//     border-left: none;
//     @include ellipsis();
//     &:disabled {
//       opacity: 0.7;
//     }
//   }
//   .ui-button.be-picker-button {
//     border-top-left-radius: 0;
//     border-bottom-left-radius: 0;
//     height: 100%;
//     position: absolute;
//     right: 0;
//     top: 0;
//     width: $button-width;
//   }
// }

// компонент searchpicker вариант 2 (отличие от 1 варианта в разметке)
// .be-searchpicker-wrapper-v2 {
//   .be-searchpicker-first {
//     width: 100%;
//     padding-right: 0.5em;
//     border-right: 1px solid #a6a6a6;
//     border-top-right-radius: 0;
//     border-bottom-right-radius: 0;
//     @include ellipsis();
//   }
//   .be-searchpicker-second {
//     width: calc(100% - #{$button-width});
//     border-top-left-radius: 0;
//     border-bottom-left-radius: 0;
//     border-left: none;
//     @include ellipsis();
//     &:disabled {
//       opacity: 0.7;
//     }
//   }
// }

// компонент searchpicker вариант 3 (отличие от 1 варианта в разметке)
.be-searchpicker-wrapper {
  .be-searchpicker-first {
    width: 100%;
    padding-right: 0.5em;
    border-right: 1px solid #a6a6a6;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    @include ellipsis();
  }
  .be-input-button-wrapper {
    padding-left: 0.5em;
    .be-searchpicker-second {
      width: calc(100% - #{$button-width});
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      @include ellipsis();
      &:disabled {
        opacity: 0.7;
      }
    }
  }
}

// компонент dropdown-picker (поле ввода и выпадающий список)
// .be-dropdown-picker-wrapper {
//   .be-dropdown-picker-first {
//     width: 100%;
//     border-right: 1px solid #a6a6a6;
//     border-top-right-radius: 0;
//     border-bottom-right-radius: 0;
//     @include ellipsis();
//   }
//   .be-dropdown.ui-dropdown.be-dropdown-picker {
//     border-left: none;
//     border-top-left-radius: 0;
//     border-bottom-left-radius: 0;
//   }
// }

// компонент dropdown-picker с разделителем (поле ввода и выпадающий список)
.be-dropdown-picker-wrapper {
  .be-dropdown-picker-first {
    width: 100%;
    border-right: 1px solid #a6a6a6;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    @include ellipsis();
  }
  .be-dropdown-picker-block {
    padding-left: 0.5em;
    .be-dropdown.ui-dropdown.be-dropdown-picker {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

// выпадающий список
.be-dropdown.ui-dropdown {
  width: 100%;
  min-width: auto;
  .ui-dropdown-trigger {
    background-color: $color-m2;
    color: $color-m3;
    width: $button-width;
    &:hover {
      background-color: $color-m2-hover;
    }
  }
  .ui-dropdown-label {
    @include ellipsis();
  }
}

// выпадающий список с символьными обозначениями
// "больше", "меньше", "равно", "не равно"
.be-dropdown.be-equal-select {
  .ui-dropdown-label,
  .ui-dropdown-item {
    text-align: center;
  }
}


.be-pad-l-0 {
  padding-left: 0 !important;
}
.be-pad-r-0 {
  padding-right: 0 !important;
}
.be-pad-t-0 {
  padding-top: 0 !important;
}
.be-pad-b-0 {
  padding-bottom: 0 !important;
}
.be-pad-0 {
  padding: 0 !important;
}
.be-mar-0 {
  margin: 0 !important;
}

#top-block-wrapper {
  position: sticky;
  top: 0;
  background-color: #e3e3e3;
  box-shadow: 0px 10px 15px -5px #00000059;
  z-index: 2;
  .top-button-wrapper {
    background-color: #e3e3e3;
    button {
      margin-right: 2px;
    }
  }
}

// .be-full-screen-wrapper {
//   position: fixed;
//   top: 0;
//   left: 0;
//   padding: 10px;
//   height: 100%;
//   width: 100%;
//   min-width: $min-width-content;
//   overflow: auto !important;
//   z-index: 20;
//   background-color: #eeeeeef2;
//   .be-table-block-content {
//     width: 100%;
//     height: 100%;
//   }
// }

.be-table-block-wrapper {
  // height: 100%;
  .be-table-block-content {
    width: 100%;
    height: 100%;
  }
}

.be-content-wrapper,
.ui-accordion-content {
  transition: all 0.6s cubic-bezier(0.44, 0.05, 0.55, 0.95);
}

// стили для окна справочника
.modal-select__overlay {
  position: fixed;
  min-width: 950px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  top: 0;
  left: 0;
  z-index: 40;
  width: 100%;
  height: 100%;
  background-color: $main-bg-transparent-color;
  overflow: auto !important;
  .select-buttons__wrapper{
    text-align: right;
    .modal-select__button {
      min-width: 100px;
    }
    & > button:not(:last-child) {
      margin-right: 3px;
    }
  }
  .be-table-block-wrapper {
    margin-bottom: 0.5em;
  }
}

.be-dialog__button {
  min-width: 150px;
  text-align: center;
}

.modal-handbook__overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  width: 100%;
  height: 100%;
  background-color: $main-bg-transparent-color;
  overflow: auto !important;
  .modal-handbook__p-grid {
    height: 100%;
    min-width: $min-width-content;
    .modal-handbook__wrapper {
      background-color: $color-m3;
      box-shadow: $box-shadow-default;
      .handbook-buttons__wrapper{
        text-align: right;
        .modal-handbook__button {
          min-width: 100px;
        }
        & > button:not(:last-child) {
          margin-right: 3px;
        }
      }
      .modal-handbook__footer {
        padding: 0.571em 1em;
        border: 1px solid $color-m4;
        border-top: none;
      }
    }
  }
}

//- модальный блок с двумя кнопками, используется для простых форм
.modal-block__overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 40;
  width: 100%;
  height: 100%;
  background-color: $main-bg-transparent-color;
  overflow: auto !important;
  .modal-block__p-grid {
    height: 100%;
    .modal-block__wrapper {
      background-color: $color-m3;
      box-shadow: $box-shadow-default;
      padding: 0 15px;
      width: 900px;
      // max-height: calc(100% - 50px);
      // overflow-y: auto;
      .modal-block__content {
        min-height: 300px;
      }
      .modal_block__header {
        line-height: 40px;
        vertical-align: baseline;
        position: sticky;
        top: 0;
        z-index: 10;
        height: 40px;
        margin: 0 -15px 15px -15px;
        padding: 0 15px;
        background-color: $color-m2;
        color: $color-m3;
      }
      .modal-block__buttons-wrapper {
        text-align: right;
        padding: 15px 0 5px 0;
        position: sticky;
        bottom: 0;
        background-color: $color-m3;
        & > .ui-button:not(:last-child) {
          margin-right: 3px;
        }
      }
    }
  }
}

.modal-card__overlay {
  // position: fixed;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 40;
  width: 100%;
  height: 100%;
  background-color: #0000004d;
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  justify-content: center;
  .modal-card__p-grid {
    height: 100%;
    width: 100%;
    min-width: $min-width-content;
    .modal-card__button-wrapper,
    .modal-card__content-wrapper,
    .modal-card__footer-wrapper {
      min-width: $min-width-content;
      max-width: $max-width-content;
      width: 100%;
      padding-left: 70px;
      padding-right: 70px;
      background-color: $main-bg-color;
    }
    .modal-card__button-wrapper {
      border-bottom: 1px solid #b3b3b3;
      padding-bottom: 5px;
    }
    .modal-card__content-wrapper {
      max-height: calc(100% - 200px);
      min-height: 100px;
      overflow: auto;
      padding-top: 5px;
    }
    .modal-card__footer-wrapper {
      padding-top: 5px;
      margin-left: -20px;
      margin-right: -20px;
      height: 100px;
      border-top: 1px solid #b3b3b3;
    }
  }
}

.modal-filter__overlay {
  // position: fixed;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 40;
  width: 100%;
  height: 100%;
  background-color: #0000004d;
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  justify-content: center;
  .modal-filter__p-grid {
    height: 100%;
    min-width: $min-width-content;
    .modal-filter__title-wrapper,
    .modal-filter__content-wrapper,
    .modal-filter__footer-wrapper {
      min-width: $min-width-content;
      max-width: $max-width-content;
      width: 100%;
      padding-left: 70px;
      padding-right: 70px;
      background-color: $main-bg-color;
    }
    .modal-filter__title-wrapper {
      border-bottom: 1px solid #b3b3b3;
      padding-top: 15px;
      padding-bottom: 5px;
    }
    .modal-filter__content-wrapper {
      max-height: calc(100% - 200px);
      // min-height: 100px;
      overflow: auto;
      padding-top: 15px;
      padding-bottom: 10px;
    }
    .modal-filter__footer-wrapper {
      padding-top: 5px;
      margin-left: -20px;
      margin-right: -20px;
      height: 50px;
      border-top: 1px solid #b3b3b3;
      .modal-filter__buttons > .ui-button:not(:last-child) {
        margin-right: 3px;
      }
    }
  }
}

// стили для стандартной карточки
.be-modal-card-overlay {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  max-width: 100%;
  height: 100%;
  background-color: $main-bg-color;
  overflow: auto !important;
  .be-modal-card-button-wrapper {
    position: sticky;
    top: 0;
    background-color: #e3e3e3;
    box-shadow: 0px 10px 15px -5px #00000059;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.2em;
    z-index: 31;
  }
  .be-modal-card-content-wrapper {
    height: 100%;
    width: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    min-width: $min-width-content;
  }
}

.be-modal-card-button-wrapper .be-modal-card__title-crd-name,
.be-modal-card-button-wrapper .be-modal-card__title-id {
  padding: 0.15em 0;
}

.be-modal-card-header {
  text-align: center;
  font-size: 1.4em;
  margin: 0.4em;
}

.be-accordion {
  .be-accordion-block {
    .ui-accordion-content {
      border: none;
      background-color: $main-bg-color;
    }
  }
}

.be-table {
  border-color: #c8c8c8;
  border-style: solid;
  border-width: 1px;
  background-color: #f4f4f4;
  min-height: 100%;
  // display: flex;
  // flex-direction: column;
  height: 100%;
  .ui-sortable-column-icon {
    display: inline-block;
    text-align: right;
  }
  .gridMenu__items > .ui-button:not(:last-child) {
    margin-right: 3px;
  }
  &__header {
    &__name {
      left: 50%;
    }
    &__gridMenu {
      display: flex;
      justify-content: space-between;
    }
  }
  &__column-selector {
    text-align: left;
    position: relative;
    &__list {
      z-index: 10;
      position: absolute;
      right: 0%;
      top: 100%;
    }
  }
}

.ubki-pvbki-nav {
  width: 100%;
  height: calc(100vh - 140px);
  &__item {
    padding-left: 8px;
    text-decoration: none;
    white-space: normal;
    color: #666666;
    cursor: pointer;
    &:hover {
      background-color: #b3b3b3;
      color: #666666;
      text-decoration: none;
    }
  }
}

.spinner-wrapper {
  display: none;
  background-color: #a5a5a54d;
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.ui-progress-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
}

@keyframes ui-progress-spinner-color {
  100%,
  0% {
    stroke: #857094;
  }
  50% {
    stroke: #51008b;
  }
}

.be-column-list.ui-multiselect {
  border: none;
  .ui-multiselect-label {
    display: none;
  }
  .ui-multiselect-panel {
    right: -15px;
    width: 200px;
    .ui-multiselect-items {
      .ui-multiselect-item {
        white-space: normal;
        span {
          display: inline;
        }
      }
      .ui-multiselect-item.ui-state-highlight {
        background-color: inherit;
        color: inherit;
      }
    }
  }

}

.be-table__editable.ui-table {
  .ui-table-tbody > tr > td.ui-editing-cell {
    padding: 0.571em 0.857em;
  }
}

// всплывающее окно с сообщением о ошибке, предупреждении или информации
.be-popup-message {
  .ui-toast-close-icon {
    text-decoration: none;
  }
  .be-toast-message__title h4{
    margin-top: 0.6em;
  }
}

// использовалось при варианте p-listbox (выбор отображаемых колонок на гриде)
body .be-table__column-selector__list .ui-listbox .ui-listbox-list .ui-listbox-item.ui-state-highlight {
  background-color: inherit;
  color: inherit;
}

.be-table__cell__hint {
  text-align: center;
  min-width: 100px;
  position: fixed;
  display: none;
  top: -100%;
  left: -100%;
  padding: 3px;
  z-index: 2;
  border: 1px solid #4772ff;
  background: #4772ff;
  color: white;
  border-radius: 3px;
}

.nav {
  justify-content: center;
}

.nav .nav-link:hover,
.nav .nav-link.active {
  box-shadow: 0 -0.15rem 0 $color-m2-hover inset;
  font-weight: bold;
  color: #8c8c8c;
}

.nav-item.top-nav-menu__item a {
  font-size: 16px;
  font-weight: bold;
}

.clr-vertical-nav {
  background-color: $color-m3;
  min-block-size: fit-content;
  overflow-y: auto;
  .nav-group-trigger {
    .nav-group-trigger-icon {
    min-height: fit-content;
    transition: none;
    }
  }
  .nav-trigger+.nav-content {
    min-height: fit-content;
    color: $color-m3;
  }
  .nav-group-content:hover,
  .nav-link:hover,
  .nav-group.active:not(.is-expanded) .nav-group-content {
    min-height: fit-content;
    background-color: $color-m2-hover;
    color: $color-m3;
    & .nav-icon {
      fill: $color-m3;
      color: $color-m3;
    }
  }
  .nav-link.active {
    background-color: $color-m2;
    color: $color-m3;
    & .nav-icon {
      fill: $color-m3;
      color: $color-m3;
    }
  }
  // .nav-text,
  // .nav-group-text {
  //   margin-top: 10px;
  //   white-space: normal;
  //   min-height: fit-content;
  //   line-height: 1.2;
  // }
  // .nav-link {
  //   min-height: fit-content;
  // }
  // .nav-group-trigger {
  //   min-height: 48px;
  // }
}

// всплывающее окно валидации
.validation-block__wrapper {
  z-index: 99999;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 250px;
  min-height: 250px;
  background-color: #f8b7bd;
  border: 1px solid #f8b7bd;
  padding: 8px 11px;
  box-shadow: 0 12px 28px 0 #00000033, 0 2px 4px 0 #0000001a, inset 0 0 0 1px #ffffff80;
  .validation-block__icon {
    span {
      padding: 5px;
      cursor: pointer;
    }
  }
  .validation-block_header {
    font-weight: 700;
  }
  .validation__message {
    padding-left: 7px;
    &:hover {
      cursor: pointer;
      background-color: #ff98a2;
    }
  }
}

body .ui-table .ui-table-tbody > tr {
  &.row-color__grey {
    color: #c8c8c8 !important;
  }
  &.row-color__red {
    color: #be0000 !important;
  }
}

.card-menu__items > .ui-button:not(:last-child) {
  margin-right: 3px;
}

// NOTE: Фикс для грида чтобы визуально присутствовала последняя колонка;
// иначе ширина высчитывается PrimeNg в px
table.ui-table-scrollable-header-table,
table.ui-table-scrollable-body-table,
table.ui-table-scrollable-footer-table,
div.ui-table-scrollable-header,
div.ui-table-scrollable-body {
  width: 100% !important;
}

// NOTE: фикс что бы убрать стрелки у input с типом number
// start
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
// NOTE: фикс что бы убрать стрелки у input с типом number
// end

// Стили для календаря
body .ui-datepicker {
  width: 15em;
  padding: 0.175em;
  & .ui-datepicker-header .ui-datepicker-title {
    font-weight: bold;
  }
  table.ui-datepicker-calendar {
    margin: 0;
    font-size: 0.9em;
    th {
      padding: .7em .3em;
      text-align: center;
      font-weight: bold;
      border: 0;
      a {
        padding: 0.25em;
      }
    }
    td {
      padding: 0.25em;
      a, span {
        padding: 0.125em 0;
      }
    }
  }
}

// Стили для ячеек-чекбоксов на гриде
.ui-grid-checker-Y,
.ui-grid-checker-N{
  position:relative;
  display: block;
  font-size: 0;
}

// Стили для самого "квадратика" чекбокса
.ui-grid-checker-Y::before,
.ui-grid-checker-N::before{
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid;
  background-color: transparent;
  z-index: 1;
  opacity: 0.9;
  border-radius: 2px;
}

// Стили для галочки в чекбоксе
.ui-grid-checker-Y::after {
  position: absolute;
  top: -4px;
  left: 48%;
  content: "";
  width: 12px;
  height: 7px;
  border-left: 2px solid;
  border-bottom: 1px solid;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  background-color: transparent;
  transform: rotate(-45deg) translateX(-55%);
  transform-origin: top left;
  z-index: 1;
  opacity: 0.9;
}

.be-colorpicker-label {
  position: relative;
  left: 0.5em;
}

.visually-hidden {
  position: fixed;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// Для колонок грида, где нужно отображать цветную кнопку
.grid-color-wrapper.ui-button {
  width: 25px;
  height: 25px;
  display: block;
  margin: auto;
  border-radius: 50%;
}

.be-button__orange {
  color: #fff;
  background-color: $color-m2;
  border: 1px solid $color-m4;
  &:hover {
    background-color: $color-m2-hover;
  }
}

// на карточке выводить цветовой индикатор
.color-circle {
  height: 33px;
  width: 33px;
  border-radius: 50%;
  margin: 0 auto;
}


//TODO: модальна карточка

.be-modal-overlay.be-card {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
  width: 100%;
  height: 100%;
  // background-color: rgba(0,0,0,.3);
  background-color: $color-m3;
  .be-modal-content {
    & > .p-grid {
      margin: 0 auto;
    }
    display: -webkit-box;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 40px);
    max-height: calc(100% - 40px);
    margin: 20px auto 0;
    overflow: auto;
    .be-all-content__wrapper {
      background-color: #f3f3f3;
      width: 1024px;
      border-left: 1px solid $color-m4;
      border-right: 1px solid $color-m4;
      .be-content__header {
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: #f3f3f3;
        border-top: 1px solid $color-m4;
        border-bottom: 1px solid $color-m4;
        padding: 10px;
        margin-bottom: 5px;
        .be-modal-card__title-card-name,
        .be-modal-card__title-id {
          font-weight: 700;
          padding-bottom: 5px;
        }
      }
      .be-content__wrapper {
        padding: 0 10px;
      }
      .be-footer__wrapper {
        background-color: #f3f3f3;
        position: sticky;
        bottom: 0;
        z-index: 10;
        padding: 0 10px;
        border-top: 1px solid $color-m4;
        border-bottom: 1px solid $color-m4;
        .be-content__footer {
          height: 50px;
          width: 100%;
        }
      }
    }
  }
}

//Модальный фильтр
.be-modal-overlay.be-card.be-filter {
  background-color: $color-m7;
    .be-all-content__wrapper {
      width: 900px;
    }
   .be-filter__footer_buttons_wrapper > .ui-button:not(:last-child) {
    margin-right: 3px;
   }
}

body .ui-accordion .ui-accordion-content {
  padding: 0;
}

.p-grid.be-row-wrapper {
  margin-right: 0 !important;
  margin-left: 0 !important;
}


/////////////////
.be-button_100p {
  width: 100%;
}

.be-button_submit.ui-button {
  background-color: #4caf50;
  border: #4caf50;
  &:enabled:hover {
    background-color: #418f44;
    border: #418f44;
  }
}
.be-button_cancel.ui-button {
  background-color: #c37b7b;
  border: #c37b7b;
  &:enabled:hover {
    background-color: #995b5b;
    border: #995b5b;
  }
}

.be-global-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #fafafa;
}
.be-content__container {
  display: flex;
  flex: 1 1 auto;
  .be-content__left-sidebar {
    flex: 0 0 200px;
    background-color: #8dcdff;
  }
  .be-content__content {
    flex: 1 1 auto;
    background-color: #857094;
  }
}

.be-top-menubar-container {
  text-align: center;
}

.be-hidden-menu {
  display: none;
}